<header class="header">
  <%= render 'shared/header' %>
</header>
<main class="notice-main">
  <div class="top-left-contents">
    <div class='notice-list-navi'>
      <p>通知一覧</p>
    </div>
    <% if @notifications.where.not(visitor_id: current_user.id).exists? %>
      <%= render "notification" %>
      <div class="notification-delete-command">
        <%= link_to "通知削除", notification_path(@notifications), method: :delete ,class: "fas fa-trash trash-notice" %>
      </div>
    <% else %>
      <div class="not-notice">
        <p>通知はありません</p>
      </div>
    <% end %>
  </div>
  <div class="top-right-contents">
    <div class="city-name">
      <h2>東京の天気</h2>
    </div>
    <div class="weather">
      <div class="weather-report">
        <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
        <div class="weather-date">1月28日(水)12:00</div>
        <div class="weather-main">晴れのち曇り</div>
        <div class="weather-temp">10°C</div>
      </div>
    </div>
    <div class="city-name">
      <h2>北京の天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロサンゼルスの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ニューヨークの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロンドンの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>パリの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
  </div>
</main>
<footer class="footer">
  <%= render 'shared/footer' %>
</footer>