<header class="header">
  <%= render 'shared/header' %>
</header>
<div class="mypage-main">
  <div class="user-main">
    <%= render 'shared/user_card' %>
    <% if user_signed_in? %>
      <% unless @user.intro.present? %>
        <% if current_user.id == @user.id %>
          <div class="profile-edit-btn">
            <%= link_to 'プロフィールを編集する', new_intro_path, class: "profile-btn" %>
            <%= link_to "#{current_user.nickname}'sアナリティクス", "/actives/user/#{current_user.id}", class: "analytics-btn" %>
            <%= link_to 'チャットルーム一覧を見る', rooms_path, class: "room-list-btn" %>
          </div>
        <% end %>
      <% end %>
      <% if current_user.id == @user.id %>
        <% if @user.intro.present? %>
          <div class="profile-edit-btn">
            <%= link_to 'プロフィールを編集する', edit_intro_path(@user.intro.id), class: "profile-btn" %>
            <%= link_to "#{@current_user.nickname}'sアナリティクス", "/actives/user/#{current_user.id}", class: "analytics-btn" %>
            <%= link_to 'チャットルーム一覧を見る', rooms_path, class: "room-list-btn" %>
          </div>
        <% end %>
      <% else %>
        <div class="profile-edit-btn" id="follow-btn-userpage" >
          <%= render 'follow', user: @user %>
          <%= link_to "#{@user.nickname}'sアナリティクス", "/actives/user/#{@user.id}", class: "analytics-btn" %>
          <% if @is_room == true %>
            <%= link_to room_path(@room_id), class: "dm-submit-btn" do%>
              <i class="far fa-envelope dm-icon"></i>メッセージ
            <% end %>
          <% else %>
            <%= form_with model: @room, url: rooms_path, method: :post, local: true do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: @user.id %>
              <% end %>
              <div class="chat-submit">
                <i class="far fa-envelope dm-icon"></i><%= f.submit "メッセージ", class: "dm-submit-btn" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="user-mans-contents">
    <div class="user-mans-status">
      <div class="user-status">
        <%= @user.nickname %>'s Anlyzes
      </div>
    </div>
  </div>
  <div class="user-list-mans-contents">
    <div class="user-analytics">
      <span class='activity'>Activity</span>
      <div class="weekly-count"> 
        <% 7.times do |x| %>
          <% if @user.mans.exists?(['created_at LIKE ?', "%#{(Date.today - 6 + x)}%"]) %>
            <div class="weekly-count-day">
              <span><%= (Date.today - 6 + x).strftime('%a') %></span>
              <span><%= (Date.today - 6 + x).strftime('%e') %></span>
            </div>
          <% else %>
            <div class="weekly-count-day-off">
              <span><%= (Date.today - 6 + x).strftime('%a') %></span>
              <span><%= (Date.today - 6 + x).strftime('%e') %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <span class="status">Status</span>
      <div class='status-count'>
        <div class='status-count-block'>
          <span>New</span>
          <%= @all_count %>
        </div>
        <div class='status-count-block'>
          <span>安土桃山</span>
          <%= "#{@status_mans.where(category_id: 10).count * 100 / @all_count}%" %>
        </div>
        <div class='status-count-block'>
          <span>江戸</span>
          <%= "#{@status_mans.where(category_id: 11).count * 100 / @all_count}%" %>
        </div>
        <div class='status-count-block'>
          <span>幕末</span>
          <%= "#{@status_mans.where(category_id: 13).count * 100 / @all_count}%" %>
        </div>
        <div class='status-count-block'>
          <span>ヨーロッパ</span>
          <%= "#{@status_mans.where(category_id: 16).count * 100 / @all_count}%" %>
        </div>
        <div class='status-count-block'>
          <span>北アメリカ</span>
          <%= "#{@status_mans.where(category_id: 17).count * 100 / @all_count}%" %>
        </div>
        <div class='status-count-block'>
          <span>中国</span>
          <%= "#{@status_mans.where(category_id: 19).count * 100 / @all_count}%" %>
        </div>
      </div>
    </div>
  </div>
</div>