<% if user_signed_in? %>
  <% if current_user.likes.find_by(man_id: man.id) %>
    <%= link_to man_like_path(man.id), method: :delete, remote: true do %>
      <div class="show-top-liked-btn">
        <span>LIKED <%= @likes %></span>
      </div>
    <% end %>
  <% else %>
    <%= link_to man_likes_path(man.id), method: :post, remote: true do %>
      <div class="show-top-like-btn">
        <span>LIKE <%= @likes %></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="show-top-like-onlydisplay">
    <span>LIKE <%= @likes %></span>
  </div>
<% end %>