<div class="search-category-title">
  <h3 class="search-category-text">偉人のカテゴリーを選択</h3>
</div>
<div class="upper-search-category">
  <ul class="search-category-lists">
    <%= link_to "/mans/category/10" do %>
      <li class="search-category-btn">安土桃山</li>
    <% end %>
    <%= link_to "/mans/category/11" do %>
      <li class="search-category-btn">江戸</li>
    <% end %>
    <%= link_to "/mans/category/13" do %>
      <li class="search-category-btn">幕末</li>
    <% end %>
  </ul>
</div>
<div class="lower-search-category">
  <ul class="search-category-lists">
    <%= link_to "/mans/category/16" do %>
      <li class="search-category-btn">ヨーロッパ</li>
    <% end %>
    <%= link_to "/mans/category/17" do %>
      <li class="search-category-btn">北アメリカ</li>
    <% end %>
    <%= link_to "/mans/category/19" do %>
      <li class="search-category-btn">中国</li>
    <% end %>
  </ul>
</div>