<header class="header">
  <%= render 'shared/header' %>
</header>
<div class="main-image">
  <div class="main-image-copy">
    <h2 class="main-catch-copy">あの偉人に会いに行こう。</h2>
  </div>
</div>
<main class="main">
  <div class="top-left-contents">
    <div class="main-search-box">
      <%= form_with(url: search_mans_path, method: :get, local: true) do |f| %>
        <%= f.text_field :keyword, placeholder: "偉人名で検索", class: "main-search-input" %>
        <%= f.submit "\uF002", class: "fas main-search-icon main-search-submit" %>
      <% end %>
    </div>
    <%= render 'shared/search_category' %>
    <div class="item-list-nav">
      <h4><b><%= @category.name %></b></h4>
    </div>
    <div id="item-pagenate">
      <%= render 'shared/mans' %>
    </div>
    <%= link_to_next_page @mans, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
  </div>
  <div class="top-right-contents">
    <div class="city-name">
      <h2>東京の天気</h2>
    </div>
    <div class="weather">
      <div class="weather-report">
        <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
        <div class="weather-date">1月28日(水)12:00</div>
        <div class="weather-main">晴れのち曇り</div>
        <div class="weather-temp">10°C</div>
      </div>
    </div>
    <div class="city-name">
      <h2>北京の天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロサンゼルスの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ニューヨークの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロンドンの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>パリの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
  </div>
</main>
<footer class="footer">
  <%= render 'shared/footer' %>
</footer>
