<header class="header">
  <div class="header-left">
    <div class="header-title">
      <h3 class="header-title-text">GMM</h3>
    </div>
    <div class="header-search-box">
      <input type="search" placeholder="検索を始める" class="header-search-input">
      <input type="submit" value="&#xf002;" class="fas header-search-icon header-search-submit">
    </div>
  </div>
  <div class="header-right">
    <div class="header-user-box">
      <div class="header-dropdown">
        <a class="btn-header-drop" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars header-drop-icon"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to '登録する', new_user_registration_path, class:"dropdown-item" %>
          <div class="dropdown-border"></div>
          <%= link_to 'ログインする', new_user_session_path, class: "dropdown-item" %>
          <div class="dropdown-border"></div>
          <a class="dropdown-item" href="#">ゲストログイン</a>
        </div>
      </div>
      <%= image_tag 'https://cdn2.aprico-media.com/production/imgs/images/000/008/511/original.jpg?1505866639', class: "df-user-icon" %>
    </div>
  </div>
</header>
<div class="main-image">
  <div class="main-image-copy">
    <h2 class="main-catch-copy">あの偉人に会いに行こう。</h2>
  </div>
</div>
<main class="main">
  <div class="top-left-contents">
    <div class="main-search-box">
      <input type="search" placeholder="検索を始める" class="main-search-input">
      <input type="submit" value="&#xf002;" class="fas main-search-icon main-search-submit">
    </div>
    <div class="search-category-title">
      <h3 class="search-category-text">偉人のカテゴリーを選択</h3>
    </div>
    <div class="upper-search-category">
      <ul class="search-category-lists">
        <a href="#"><li class="search-category-btn">安土桃山</li></a>
        <a href="#"><li class="search-category-btn">江戸</li></a>
        <a href="#"><li class="search-category-btn">幕末</li></a>
      </ul>
    </div>
    <div class="lower-search-category">
      <ul class="search-category-lists">
        <a href="#"><li class="search-category-btn">ヨーロッパ</li></a>
        <a href="#"><li class="search-category-btn">アメリカ</li></a>
        <a href="#"><li class="search-category-btn">アジア</li></a>
      </ul>
    </div>
    <div class="item-list-nav">
      <h4>Trend</h4>
    </div>
    <div class="item-lists-box">
      <li class="item-list">
        <a href="#">
          <div class="list-profile-content">
            <%= image_tag 'https://cdn2.aprico-media.com/production/imgs/images/000/008/511/original.jpg?1505866639', class: "list-avater" %>
            <span class="list-username">user<span>
          </div>
        </a>
        <div class="list-main-content">
          <div class="list-title-content">
            <p><a href="#">text</a></p>
          </div>
          <div class="list-cate-tag-content">
            <div class="list-category">
              幕末
            </div>
            <div class="list-tag">
              <i class="fas fa-tags list-tag-icon"></i><p>#幕末 #新選組</p>
            </div>
          </div>
          <div class="list-detail-content">
            <div class="list-detail">
              <div class="list-like-comment">
                <div class="list-like-count">
                  <i class="far fa-heart list-like-icon"></i>30
                </div>
                <div class="list-comment-count">
                  <i class="far fa-comment list-commnet-icon"></i>30
                </div>
              </div>
              <div class="list-created">
                2ヶ月前
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item-list">
        <a href="#">
          <div class="list-profile-content">
            <%= image_tag 'https://cdn2.aprico-media.com/production/imgs/images/000/008/511/original.jpg?1505866639', class: "list-avater" %>
            <span class="list-username">user<span>
          </div>
        </a>
        <div class="list-main-content">
          <div class="list-title-content">
            <p><a href="#">text</a></p>
          </div>
          <div class="list-cate-tag-content">
            <div class="list-category">
              幕末
            </div>
            <div class="list-tag">
              <i class="fas fa-tags list-tag-icon"></i><p>#幕末 #新選組</p>
            </div>
          </div>
          <div class="list-detail-content">
            <div class="list-detail">
              <div class="list-like-comment">
                <div class="list-like-count">
                  <i class="far fa-heart list-like-icon"></i>30
                </div>
                <div class="list-comment-count">
                  <i class="far fa-comment list-commnet-icon"></i>30
                </div>
              </div>
              <div class="list-created">
                2ヶ月前
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="item-list">
        <a href="#">
          <div class="list-profile-content">
            <%= image_tag 'https://cdn2.aprico-media.com/production/imgs/images/000/008/511/original.jpg?1505866639', class: "list-avater" %>
            <span class="list-username">user<span>
          </div>
        </a>
        <div class="list-main-content">
          <div class="list-title-content">
            <p><a href="#">text</a></p>
          </div>
          <div class="list-cate-tag-content">
            <div class="list-category">
              幕末
            </div>
            <div class="list-tag">
              <i class="fas fa-tags list-tag-icon"></i><p>#幕末 #新選組</p>
            </div>
          </div>
          <div class="list-detail-content">
            <div class="list-detail">
              <div class="list-like-comment">
                <div class="list-like-count">
                  <i class="far fa-heart list-like-icon"></i>30
                </div>
                <div class="list-comment-count">
                  <i class="far fa-comment list-commnet-icon"></i>30
                </div>
              </div>
              <div class="list-created">
                2ヶ月前
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
  <div class="top-right-contents">
    <div class="city-name">
      <h2>東京の天気</h2>
    </div>
    <div class="weather">
      <div class="weather-report">
        <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
        <div class="weather-date">1月28日(水)12:00</div>
        <div class="weather-main">晴れのち曇り</div>
        <div class="weather-temp">10°C</div>
      </div>
    </div>
    <div class="city-name">
      <h2>北京の天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロサンゼルスの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ニューヨークの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>ロンドンの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
    <div class="city-name">
      <h2>パリの天気</h2>
    </div>
    <div class="weather-report">
      <%= image_tag 'https://illalet.com/wp-content/uploads/2017/05/16_2_20.png', class: "weather-icon" %>
      <div class="weather-date">1月28日(水)12:00</div>
      <div class="weather-main">晴れのち曇り</div>
      <div class="weather-temp">10°C</div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer-upper-contents">
    <%= link_to "GMM", root_path, class: "footer-title-text" %>
    <div class="footer-list-contents">
      <ul class="footer-lists">
        <h4 class="footer-list-title">Product</h4>
        <li class="footer-list-item"><a href="#">機能</a></li>
        <li class="footer-list-item"><a href="#">セキュリティ</a></li>
        <li class="footer-list-item"><a href="#">リソース</a></li>
        <li class="footer-list-item"><a href="#">ストーリー</a></li>
      </ul>
       <ul class="footer-lists">
        <h4 class="footer-list-title">Support</h4>
        <li class="footer-list-item"><a href="#">ヘルプ</a></li>
        <li class="footer-list-item"><a href="#">お知らせ</a></li>
        <li class="footer-list-item"><a href="#">お問い合わせ</a></li>
        <li class="footer-list-item"><a href="#">ご意見</a></li>
      </ul>
      <ul class="footer-lists">
        <h4 class="footer-list-title">Company</h4>
        <li class="footer-list-item"><a href="#">会社概要</a></li>
        <li class="footer-list-item"><a href="#">ブログ</a></li>
        <li class="footer-list-item"><a href="#">チーム</a></li>
        <li class="footer-list-item"><a href="#">ジョブ</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-lower-contents">
    <div class="footer-small">
      <small class="small">@2021 GMM.inc</small>
    </div>
    <div class="footer-icons">
      <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
      <a href="#"><i class="fab fa-facebook-square footer-icon"></i></a>
      <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
    </div>
  </div>
</footer>
