<header class="header">
  <%= render 'shared/header' %>
</header>
<div class="main-image">
  <div class="main-image-copy">
    <h2 class="main-catch-copy">あの偉人に会いに行こう。</h2>
  </div>
</div>
<main class="main">
  <div class="top-left-contents">
    <div class="main-search-box">
      <input type="search" placeholder="検索を始める" class="main-search-input">
      <input type="submit" value="&#xf002;" class="fas main-search-icon main-search-submit">
    </div>
    <%= render 'shared/search_category' %>
    <div class="item-list-nav">
      <h4>Trend</h4>
    </div>
    <%= render 'shared/mans' %>
  </div>
  <div class="top-right-contents">
    <%= render 'shared/weather' %>
  </div>
</main>
<footer class="footer">
  <%= render 'shared/footer' %>
</footer>
