<header class="header">
  <%= render 'shared/header' %>
</header>
<main class="main">
  <div class="top-left-contents">
    <div class="item-list-nav">
      <h4>LIKEしたユーザー</h4>
    </div>
    <div id="item-pagenate">
      <%= render 'shared/like_mans' %>
    </div>
    <%= link_to_next_page @mans, 'もっと見る', remote: true, class: 'more-link', id: 'more-link' %>
  </div>
  <div class="top-right-contents">
    <%= render 'shared/weather' %>
  </div>
</main>
<footer class="footer">
  <%= render 'shared/footer' %>
</footer>